<p *ngIf='movie'>
  {{movie.title}}
</p>
<!-- <span class="font-weight-bold"></span><span *ngFor=' let tag of movie.tagModels'>{{tag.name}}; </span> -->
<div class="row" *ngIf='movie'>
  <div class="col-sm-4">
    <h3>{{movie.title}}</h3>
    <img src={{movie.poster}} alt="poster" width="300px" height="400px">

    <div class="border border-dark rounded ml-4 mt-3" style="width: 71%; box-sizing: initial">
      <div class="row mt-2" style="text-align: center; margin-left: 30px; margin-right: auto;">
        <rating [popover]="popTemplate" placement="right" #pop="bs-popover" triggers='click' [outsideClick]='true' (onShown)='setMark(moviesRatings[0]);'
          (onHidden)='isRateTen = false;' [max]="10" [(ngModel)]='moviesRatings[0]' [readonly]='isRatingReadonly' [titles]='["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"]'>
        </rating>
        <div class="align-items-center ml-2" *ngIf='moviesRatings[0]' style="width: 17%">
          <h5 align="center" class="xfont-weight-bold my-0 mx-1 border border-dark rounded">
            {{moviesRatings[0]}}{{moviesRatings[1] === 0 ? '' : '.' + moviesRatings[1]}}</h5>
        </div>
      </div>

      <ng-template #popTemplate class="p-0">
        <div class="float: left;">
          <mat-slider #currSlider='matSlider' (onShown)='currSlider.focus()' *ngIf='!isRateTen' class="m-0; p-0;" thumbLabel [displayWith]="formatRateLabel.bind(this)"
            vertical=t rue tickInterval="1" min="0" max="9" [value]='setFirstPosition()'>
          </mat-slider>

        </div>
        <div class="float: left; clear: left;" style="text-align: center;">
          <button type="button" class="btn btn-outline-dark btn-sm" (click)="submitMark(); pop.hide();">OK</button>
        </div>
      </ng-template>

      <div class="row pl-4 mt-2">
        <div *ngIf='movie.ratings.imDbRating' class="row pl-2">
          <img [src]='imdbLogo' alt="imdb logo" width="34dp" height="22dp">
          <div class="align-items-center">
            <div class="row mx-0">
              <h6 align="center" class="xfont-weight-bold my-0 mx-1 border border-dark rounded">
                {{movie.ratings.imDbRating}} </h6>
              <span style="font-size: 12px" class="mt-1 font-weight-light">/10</span>
            </div>
          </div>
        </div>

        <div *ngIf='movie.ratings.rotenTomatosRating' class="row ml-4">
          <img [src]='RTLogo' alt="rottenTomatos logo" width="25dp" height="24dp">
          <div class="align-items-center">
            <div class="row mx-0">
              <h6 align="center" class="xfont-weight-bold my-0 mx-1 border border-dark rounded">
                {{movie.ratings.rotenTomatosRating}}</h6>
              <span style="font-size: 12px" class="mt-1 font-weight-light">/100</span>
            </div>
          </div>
        </div>

        <div *ngIf='movie.ratings.metaCriticRating' class="row ml-4">
          <img [src]='MTLogo' alt="meta critic logo" width="25dp" height="24dp">
          <div class="align-items-center">
            <div class="row mx-0">
              <h6 align="center" class="xfont-weight-bold my-0 mx-1 border border-dark rounded">
                {{movie.ratings.metaCriticRating}}</h6>
              <span style="font-size: 12px" class="mt-1 font-weight-light">/100</span>
            </div>
          </div>
        </div>
      </div>

      <div style="font-size: 12px; " class="font-weight-light pl-2 mb-1">
        <p class="mb-0">votes: {{movie.ratings.imDbVotes}}</p>
      </div>
    </div>
  </div>
  <div class="col-sm-8">
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        <span class="font-weight-bold">Year: </span>{{movie.year}}</li>
      <li class="list-group-item">
        <span class="font-weight-bold">Runtime: </span>{{movie.runtime | customRuntime}}</li>
      <li class="list-group-item">
        <span class="font-weight-bold">IMDb ID: </span>
        <a [href]='composedIMDbId' target='_blank'>{{movie.imDbId}}</a>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Genres: </span>
        <span *ngFor='let genre of movie.genreModels'>{{genre.name}}; </span>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Directors: </span>
        <span *ngFor='let director of movie.directorModels'>{{director.name}}; </span>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Writers: </span>
        <span *ngFor='let writer of movie.writerModels'>{{writer.name}}; </span>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold">Actors: </span>
        <span *ngFor='let actor of movie.actorModels'>{{actor.name}}; </span>
      </li>
      <li class="list-group-item">
        <span class="font-weight-bold"> </span>
      </li>

      <!-- <li class="list-group-item">Porta ac consectetur ac</li>
          <li class="list-group-item">Vestibulum at eros</li> -->

    </ul>
  </div>
</div>