<h3>Here is your {{title}} </h3>
<div class="container">
        <table class="table table-striped" *ngIf='movies && movies.lenght'>
                <thead>
                  <tr>
                    <th scope="col">Poster</th>
                    <th scope="col">Title</th>
                    <th scope="col">Year</th>
                    <th scope="col">Runtime</th>
                    <th scope="col">Tags</th>
                    <th scope="col">Mark</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>some image</td>
                    <td>Star wars</td>
                    <td>2004</td>
                    <td>156</td>
                    <td>#Way! #LTFBWY #LoveIt</td>
                    <td>9</td>
                  </tr>
                </tbody>
              </table>
              
</div>

