<div class="container" style="width: 135%; max-width: 1500px;margin-left: -100px;">
  <div class="d-flex flex-row flex-wrap">

    <div *ngFor='let movie of movies; let i = index;' class="card border-secondary mx-2 my-2 " style="width: fit-content; max-width: 220px ">
      <div class="card-header py-1 px-1">
        <div class="row">
          <div class=" col-sm-10" style="vertical-align: center">
            <h6 class="card-title mb-0">{{movie.title}}</h6>
          </div>
          <div class="col-sm-2 px-0">
            <button class="btn btn-outline-secondary p-0 customButtons" style="font-family: none;">
              <img [src]='movie.addIconSrc' alt="icon" width="24dp" height="24dp" (click)='AddToLibrary(movie.imdbID)'>
            </button>
          </div>
        </div>


      </div>
      <div class="card-body text-secondary py-1 px-1">
        <div style="text-align: center">
          <img src={{movie.poster}} [title]='movie.title' [style.width.px]='202' [style.height.px]='270'>
        </div>

        <!-- <div class="row">
          <div class="col-sm-3">
            <button class="btn btn-outline-secondary">Rate</button>
            <button name="watchLater_butom" class="btn btn-outline-secondary p-0 customButtons">
            <img src='./assets/sortAscend_icon.png' alt="icon" width="24dp" height="23dp" (click)='AddToWatchLater(i)'>
          </button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-outline-secondary">Tag</button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-outline-secondary">Review</button>
          </div>
          <div class="col-sm-3">
            <button class="btn btn-outline-secondary">Add</button>
          </div>
        </div> -->
      </div>
    </div>

  </div>
</div>
<pagination *ngIf='pagesAmount != 1 && isMovieLoaded' boundaryLinks="true" [totalItems]='moviesAmount'
  [itemsPerPage]='pageSize' [(ngModel)]="currPage" [maxSize]='10' (click)="changePage()" previousText="&lsaquo;" nextText="&rsaquo;"
  firstText="&laquo;" lastText="&raquo;"></pagination>